.ddsmoothmenu{
	
}

.ddsmoothmenu ul{
	z-index:100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a {
	float: left;
	display: block;
	position: relative;
	margin-left: 10px;
	height: 46px;
	padding: 0 15px;
	line-height: 46px;
	font-size: 11px;
	color: #fff;	
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	outline: none;
	text-transform: uppercase
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:hover { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: #a4d659;
}
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
	position: absolute;
	width: 170px;
	left: 0;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	background: url(../images/templatemo_submenu_m.png) repeat-y left;
}
.ddsmoothmenu ul li ul span { position: absolute; width: 170px; height: 15px; bottom: -15px; left: 0;  background: url(../images/templatemo_submenu_b.png) repeat-y; }

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
	font-weight: 500;
	width: 147px; /*width of sub menus*/
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	margin: 0 0 0 1px;
	font-size: 11px;
	text-align: left;
	background: none;
	color: #000;
	background: url(../images/templatemo_menu_divider.png) bottom repeat-x;
}

.ddsmoothmenu ul li ul li ul {
	width: 250px; /*width of sub menus*/
}

.ddsmoothmenu ul li ul li ul li {
	width: 250px; /*width of sub menus*/
}

.ddsmoothmenu ul li ul li ul li a{
	font-weight: 500;
	width: 250px; /*width of sub menus*/
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	margin: 0 0 0 1px;
	font-size: 11px;
	text-align: left;
	background: none;
	color: #000;
	background: url(../images/templatemo_submenu_m.png) repeat-y left;
}

.ddsmoothmenu ul li ul li ul li a:hover{
	background: none;
}


.ddsmoothmenu ul li ul li a.selected, .ddsmoothmenu ul li ul li a:hover {
	color: #fff;
	background: #0a0a0a
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.5;
}

/* menu */
